@font-face
{
    font-family: 'Tech';
    src: url(Arvo-Regular.ttf);
}

section img
{
    max-width: 100%;
    height: auto;
}

nav
{
    font-family: 'Tech';
}

section
{
    background-color: rgb (0,0,0);
}

.a 
{
    font-family: 'Tech';
}

a:link 
{
  color: red;
}

a:visited 
{
  color: green;
}

a:hover 
{
  color: hotpink;
}
