@font-face
{
    font-family: 'Tech';
    src: url(Assistant, sans-serif);
}

img
{
    max-width: 100%;
    height: auto;
}

nav
{
    font-family: 'Tech';
}

section
{
    background-color: #000000;
}

li {
    background-color: black;
}

.a 
{
    font-family: 'Tech';
}

a:link 
{
  color: red;
}

a:visited 
{
  color: green;
}

a:hover 
{
  color: hotpink;
}

:root {
    --font-body-family: Assistant, sans-serif;
    --font-body-style: normal;
    --font-body-weight: 400;
    --font-body-weight-bold: 700;
    --font-heading-family: Assistant, sans-serif;
    --font-heading-style: normal;
    --font-heading-weight: 400;
    --font-body-scale: 1.0;
    --font-heading-scale: 1.0;
}
