@font-face
{
    font-family: 'Tech';
    src: url(Arvo-Regular.ttf);
}
:root
{
  --UNC-Blue: #013c65;
  --UNC-Gold: #f6b000;
  --UNC-Gray: #8a8a8d;
}
body
{
    background-color: var(--UNC-Gray);
}
*
{
    color: var(--UNC-Blue);
    text-align: center;
}
h1
{
    font-size: calc(16vw + 6vw);
    font-family: 'Tech';
}

h2
{
    font-size: 28vw;
    font-family: 'Tech';
}

td, th
{
    border: 2px solid black;
    padding: 15px;
    background-color: lightblue;
}
table
{
    border: 2px black soild;
    border-collapse: collapse;
    margin: auto;
}
th
{
    background-color: gray;
    font-size: 18px;
}
nav
{
    font-family: 'Tech';
}
#top
{
    border: 12px var(--UNC-Gold) solid;
    margin: 8vw;
    margin-top: 5px;
}
section
{
    border: 5px var(--UNC-Blue) solid;
    margin: 18vw;
    margin-top: 10px;
    margin-bottom: 20px;
}
.date
{
    color: var(--UNC-Gold);
    white-space: nowrap;
}
.date strong
{
    color: var(--UNC-Gold);
    white-space: nowrap;
}
ul
{
    list-style: none;
    padding-left: 0px;
}
.a 
{
    font-family: 'Tech';
}

a:link 
{
  color: red;
}

a:visited 
{
  color: green;
}

a:hover 
{
  color: hotpink;
}
